@model MSS.Models.AddProductViewModel

<div class="text-left">
    <h1 class="display-4 mb-3">Adicionar Produto</h1>
    <form method="post" asp-action="Add" asp-controller="Product">
        <div class="mb-3">
            <label for="productName" class="form-label">Insira o nome do produto:</label>
            <input type="text" class="form-control" id="productName" aria-describedby="productName" asp-for="Name" required>
        </div>
        <div class="mb-3">
            <label for="MadeBy" class="form-label">Feito por:</label>
            <input type="text" class="form-control" id="MadeBy" aria-describedby="MadeBy" asp-for="MadeBy" required>
        </div>
        <div class="mb-3">
            <label for="Type" class="form-label">Tipo:</label>
            <input type="text" class="form-control" id="Type" aria-describedby="Type" asp-for="Type" required>
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Descrição do produto:</label>
            <input type="text" class="form-control" id="Description" aria-describedby="Description" asp-for="Description" required>
        </div>
        <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>
</div>
